/*@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:bold);
*/
@font-face {
    font-family: raleway-bold;
    src: url('../font/Raleway/static/Raleway-Bold.ttf');
}
@font-face {
    font-family: raleway-medium; 
    src: url('../font/Raleway/static/Raleway-Medium.ttf');
}
@font-face {
    font-family: raleway-regular; 
    src: url('../font/Raleway/static/Raleway-Regular.ttf');
}
@font-face {
    font-family: poppins-bold; 
    src: url('../font/Poppins/Poppins-Bold.ttf');
}

body{
    font-family: "raleway-bold";
    font-size: .875rem;
    color: blue;
}

.header{
    height: 74px;
/*    background-color: #A9CEA2; todavía no*/
    margin-bottom: 38px !important;
}

#headerMenu{
    width: 100%;
    height: 74px;
    font-size: 16px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 14px 6px;
    
}
#headerMenu ul{
    margin-top: 16px;
    border-top: 2px solid #A9CEA2;
    float: right;
}
#headerMenu ul li{
    margin-top:0px !important;
    height: 100%;
}
#headerMenu ul li a.nav-link{
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
#headerMenu ul li:not(:last-child):hover, 
#headerMenu ul li.active{
    border-top: 9px solid #A9CEA2;
}

.header-menu{
  display: none;
}
@media (max-width: 700px) {
  #headerMenu{
    display: none;
  }
  .header-menu{
    display: block;
  }
}
 
#sidebarMenu{
    width: 216px;
    overflow-y: auto;
    font-family: "raleway-bold";
}
#sidebarMenu ul li:first-child{
  padding-bottom: 50px;
} 
#sidebarMenu ul li a{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 37px;
}
#sidebarMenu ul li.active a{
  color: #FFFFFF !important;
}
#sidebarMenu ul li:not(:first-child){
    padding-bottom: 30px;
    
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    padding: 48px 0 0; 
    z-index: 9100; 
    top: -19px;
    bottom: 0;
    left: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
 
}

@media (max-width: 767.98px) {
    .sidebar {
      top: 3rem;
    }
    #navbar-brand{
      padding-top: 20px;
      background-color: transparent !important;
      border: 0px solid transparent !important;
    }
    
}
#navbar-brand{
    border: 15px solid #A9CEA2;
}
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }

  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
.navbar-brand {
    width: 216px;
}
  /*
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  */
  .navbar .navbar-toggler {
    /*top: .25rem;
    right: 1rem;*/
    border: 0px solid transparent;
  }